body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}
nav{
    flex: 1;
    padding-right: 300px;
    background-color: brown;
}
nav ul{
    text-align: right;
    margin: 0;
    padding: 0;

}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
    text-align: left;
  }
  
nav ul li a{
      text-decoration: none;
      display: block;
      padding: 20px;
      font-size: 2vh;
      color: white;
  }
nav ul li a:hover{
      background-color: rgb(163, 104, 104);
  }
.Section-grid{
      margin-left: 7%;
      margin-right: 7%;
      display: flex;
      position: relative;
  }
.half-weight{
      width: 50%;
  }
#banner{
      font-size: 4vw;
      font-weight: bold;
  }
.burger-house{
      color: rgb(241, 134, 11);
  }
.bg{
      height:80%;
      width: 80%;
      margin-top: 50px;
  }
.button{
    background: linear-gradient(45deg, rgb(235, 208, 58), rgb(218, 151, 7));
    padding: 10px 40px;
    border-radius:50px;
    text-decoration: none;
}
.about-us{
    margin-top: 100px;
    height: 65vh;
    width: 100%;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.bg-2{
    height: 100%;
    width: 100%;
}
.container{
    display: flex;
    position: relative;
}
.container p{
    padding-right: 50px;
}
.card{
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 100px;
}
.menu h1{
    font-size: 40px;
    text-align: center;
}
.menu p{
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}
.box{
    display: flex;
    margin: 0 10% 10% 10%;
}
.card{
    width: 30%;
    height: 100%;
    margin: 30px;
    text-align: center;
    position: relative;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img{
    height: 250px;
    width: 300px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
footer{
    text-align: center;
    padding: 25px;
    background-color: black;
    
}
footer h1{
    color: white;
}
footer p{
    color: rgb(153, 149, 149);