body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}
nav{
    flex: 1;
    padding-right: 300px;
    background-color: brown;
}
nav ul{
    text-align: right;
    margin: 0;
    padding: 0;

}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
    text-align: left;
  }
  
nav ul li a{
      text-decoration: none;
      display: block;
      padding: 20px;
      font-size: 2vh;
      color: white;
  }
nav ul li a:hover{
      background-color: rgb(163, 104, 104);
  }
.Section-grid{
      margin-left: 7%;
      margin-right: 7%;
      display: flex;
      position: relative;
  }
.half-weight{
      width: 50%;
  }
#banner{
      font-size: 4vw;
      font-weight: bold;
  }
.burger-house{
      color: rgb(241, 134, 11);
  }
.bg{
      height:80%;
      width: 80%;
      margin-top: 50px;
  }
.button{
    background: linear-gradient(45deg, rgb(235, 208, 58), rgb(218, 151, 7));
    padding: 10px 40px;
    border-radius:50px;
    text-decoration: none;
}
.about-us{
    margin-top: 100px;
    height: 65vh;
    width: 100%;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.bg-2{
    height: 100%;
    width: 100%;
}
.container{
    
    margin-right: 7%;
    display: flex;
    position: relative;
}

